{% extends 'base.html.twig' %}

{% block title %}FicheInscription index{% endblock %}

{% block body %}
    <h1>FicheInscription index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Remarque</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fiche_inscription in fiche_inscriptions %}
            <tr>
                <td>{{ fiche_inscription.id }}</td>
                <td>{{ fiche_inscription.Date ? fiche_inscription.Date|date('Y-m-d') : '' }}</td>
                <td>{{ fiche_inscription.Remarque }}</td>
                <td>
                    <a href="{{ path('fiche_inscription_show', {'id': fiche_inscription.id}) }}">show</a>
                    <a href="{{ path('fiche_inscription_edit', {'id': fiche_inscription.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fiche_inscription_new') }}">Create new</a>
{% endblock %}
