{% extends 'base.html.twig' %}

{% block title %}Inscription index{% endblock %}

{% block body %}
    <h1>Inscription index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IdUser</th>
                <th>IdClass</th>
                <th>Annee</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inscription in inscriptions %}
            <tr>
                <td>{{ inscription.id }}</td>
                {# <td>{{ inscription.IdUser }}</td> #}
                <td>{{ inscription.IdClass }}</td>
                <td>{{ inscription.Annee }}</td>
                <td>
                    <a href="{{ path('inscription_show', {'id': inscription.id}) }}">show</a>
                    <a href="{{ path('inscription_edit', {'id': inscription.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('inscription_new') }}">Create new</a>
{% endblock %}
